<div id="home-page-wrapper" data-ng-controller="homeController" >
<h1>Home</h1>
<h3>Register or <a href="#/login">login if you have already registered.</a></h3>
<div>
<form name="userRegisterData.form" method="POST" novalidate data-ng-submit="registerUser" >
Username: <input type="text" name="register-form-username" data-ng-required="true" data-ng-model="userRegisterData.userName"/>
Password: <input type="password" name="register-form-password" data-ng-required="true" data-ng-model="userRegisterData.password"/>
<button type="button" data-ng-click="registerUser()">Register</button>
</form>

</div>
</div>
