<div id="home-page-wrapper" data-ng-controller="loginController" >
<h1>Login</h1>
<div>
<form name="userLoginData.form" method="POST" novalidate data-ng-submit="loginUser()" >
Username: <input type="text" name="login-form-username" data-ng-required="true" data-ng-model="userLoginData.userName"/>
Password: <input type="password" name="login-form-password" data-ng-required="true" data-ng-model="userLoginData.password"/>
<button type="button" data-ng-click="loginUser()">Login</button>
</form>

</div>
</div>
