.app-loading-bg{background:url(../images/loading-icon-ripple.gif);background-repeat:no-repeat;background-position:50% 50%;opacity:.1}.app-global-notify-wrap{position:fixed;top:0;width:100%;background-color:#ccc}